/*-- scss:defaults --*/

$font-family-sans-serif: "Roboto", sans-serif;
$presentation-heading-color: #2e4041ff;
$presentation-title-slide-text-align: "left";
$presentation-subtitle-slide-text-align: "left";
$code-block-font-size: 0.6em;
$code-color: #5f5f5f;
$body-color: #2d2d2d;
$link-color: #498b9dff;
$selection-bg: #aa5b55ff;
$presentation-h1-font-size: 1.5em;
$presentation-h2-font-size: 1.5em;

/*-- scss:rules --*/

.date {
  font-size: 0.6em;
  font-weight: 100;
}

details>summary {
  font-size: 0.75em;
}

.small {
  font-size: 0.75em;
}

.big {
  font-size: 1.75em;
}

.reveal .slide aside,
.reveal .slide div.aside {
  font-size: 0.5em;
  bottom: 0px;
}

.reveal .progress {
  height: 0.5%;
  background: #bcc7cdff;
  color: #aa5b55ff;
}

.reveal .controls {
  color: #bcc7cdff;
}

.reveal .slide-logo {
  height: 31px !important;
  width: 125px!important;
  max-width: unset !important;
  max-height: unset !important;
}

#title-slide {
  .quarto-title-authors {
    justify-content: left;
    font-size: 0.8em;
  
  .quarto-title-author {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    font-size: 0.8em;
    }
  }
}