/*-- scss:defaults --*/

body {
  background-image: url("./img/webtiles.png");
  background-position: 85% 15% ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


$normalgreen: #498B9D;
$normalblue: #8ABCC7;
$normalred: #AA5B55;
$normalbrown: #646661;
$normaldark: #2E4041;
$normalight: #BCC7CD;